<!DOCTYPE html> 
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <title>Projects</title>
      <meta name="description" content="Web, Game dev and UI">
      <!-- Twitter Cards --> 
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="myself.jpg">
      <meta name="twitter:title" content="Projects">
      <meta name="twitter:site" content="@lukewoods300">
      <meta name="twitter:creator" content="@lukewoods300">
      <!-- Open Graph --> 
      <meta property="og:locale" content="en_US">
      <meta property="og:type" content="article">
      <meta property="og:title" content="Projects">
      <meta property="og:url" content="/projects.html">
      <meta property="og:site_name" content="Posva Dev Blog">
      <meta property="og:image" content="/images/myself.jpg">
      <link rel="canonical" href="/projects.html">
      <!-- Handheld --> 
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Feed --> 
      <link type="application/atom+xml" rel="alternate" href="https://posva.net/feed.xml" title="Posva Dev Blog" />
      <!-- Favicons --> 
      <link rel="shortcut icon" type="image/png" href="/favicon.jpg" />
      <link rel="shortcut icon" href="/favicon.ico" />
      <!-- CSS --> 
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <!-- Left Block Image for Posts --> 
      <style type="text/css"> #posts.inner-post-page .block-left {background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/unsplash-gallery-image-3.jpg) no-repeat;background-size: cover;} </style>
      <!-- Left Block Images for Home and Pages --> 
      <style type="text/css"> #posts .block-left {background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/unsplash-image-10.jpg) no-repeat;background-size: cover, cover;} .block-left {background: linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9)), url(/images/home.png) no-repeat;background-size: cover;} </style>
      <link rel="icon" href="/images//LWicon.png">
    </head>
   <body id="posts">
      <div id="app">
         <div class="block-left">
            <div class="content">
               <a href="/" class="logo" title="Home"> <img src="/images/LWicon.png" srcset="/images/LWicon.png 1x, /images/LWicon.png 2x," alt="Logo" > </a> 
               <h1 class="section-title">Projects<em>/</em> </h1>
            </div>
         </div>
         <div class="block-right">
            <searchbox @hits="hits = $event" inline-template>
               <div class="searchbox"> <input placeholder="Search..." v-model="query" type="text"> </div>
            </searchbox>
            <a href="/projects" title="Posts" class="posts-menu-icon"> </a> <span class="posts-link">Projects</span> 
            <div v-if="hits.length > 0" class="content content--dynamic">
               <ul class="posts-list">
                  <li v-for="post in hits" :key="post.objectID">
                     <h2> <a :href="post.url" class="post-title"> <span v-text="post.title"></span> </a> <span class="date">${ post.date | date }</span> </h2>
                     <p v-html="filterHtml(post.excerpt)"></p>
                     <ul class="tags">
                        <li v-for="tag in post.tags"><a :href="'/tags#' + tag" v-text="tag"></a></li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div v-else class="content">
               <ul class="posts-list">
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/Java-Poker" class="post-title"> <span>Java-Poker </span> </a> <span class="date">2020</span> </h2>
                     <p>Multiplayer Poker Game built solely with Java</p>
                     <ul class="tags">
                        <li><a href="/tags#Java">Java</a></li>
                        <li><a href="/tags#Swing">Swing</a></li>
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/lukewoods300.github.io" class="post-title"> <span>Lukewoods.dev </span> </a> <span class="date">2022</span> </h2>
                     <p>My own personal website!</p>
                     <ul class="tags">
                        <li><a href="/tags#js">js</a></li>
                        <li><a href="/tags#HTML">HTML</a></li>
                        <li><a href="/tags#CSS">CSS</a></li>
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/Spring-Boot-Template" class="post-title"> <span>Spring-Boot-Template </span> </a> <span class="date">2022</span> </h2>
                     <p>A Spring-Boot-Template I use to start Java Web Apps </p>
                     <ul class="tags">
                        <li><a href="/tags#Java">Java</a></li>
                        <li><a href="/tags#Spring">Spring</a></li>
                        <li><a href="/tags#Maven">Maven</a></li>
                        
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/BinauralBeater" class="post-title"> <span>BinauralBeater </span> </a> <span class="date">2022</span> </h2>
                     <p>An Android app I am working on, will be used to play Binaural Beats and eventually generate your own!</p>
                     <ul class="tags">
                        <li><a href="/tags#Android">Android</a></li>
                        <li><a href="/tags#Java">Java</a></li>
                     
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/TwitterBot" class="post-title"> <span>TwitterBot (@lukevvoods) </span> </a> <span class="date">2022</span> </h2>
                     <p>My personal TwitterBot! Will be constantly making changes to fit my needs..</p>
                     <ul class="tags">
                        <li><a href="/tags#js">js</a></li>
                        <li><a href="/tags#Twitter">Twitter</a></li>
               
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/Spring-Boot-Demo" class="post-title"> <span>Spring-Boot-Demo (HelloWorld!) </span> </a> <span class="date">2022</span> </h2>
                     <p>An ever changing project I use to demonstrate and practice making Spring Boot apps!</p>
                     <ul class="tags">
                        <li><a href="/tags#Java">Java</a></li>
                        <li><a href="/tags#Spring">Spring</a></li>
                  
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/Issue-Tracker" class="post-title"> <span>Issue Tracker</span> </a> <span class="date">2022</span> </h2>
                     <p>Self Developed Issue tracking system to view, update, or add issues and tasks.</p>
                     <ul class="tags">
                        <li><a href="/tags#Java">Java</a></li>
                        <li><a href="/tags#Spring">Spring</a></li>
                  
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/CRUD" class="post-title"> <span>CRUD</span> </a> <span class="date">2022</span> </h2>
                     <p>Self Developed Web Application that allows an admin to login and manage other users info (Add, View, Edit, Delete)</p>
                     <ul class="tags">
                        <li><a href="/tags#Java">Java</a></li>
                        <li><a href="/tags#Spring">Spring</a></li>
                  
                     </ul>
                  </li>
                  <li>
                     <h2> <a href="https://github.com/Lukewoods300/Online-Market" class="post-title"> <span>Online-Market </span> </a> <span class="date">2022</span> </h2>
                     <p>Worked in a team to build a simple Java internet market that could function as a web-application and as a REST-Service. Extensive JUnit testing.Great experience in learning and applying Java, Spring and related web technologies towards a practical use.</p>
                     <ul class="tags">
                        <li><a href="/tags#Java">Java</a></li>
                        <li><a href="/tags#Spring">Spring</a></li>
                  
                     </ul>
                  </li>
            
               </ul>
            </div>
         </div>
      </div>
      <div class="overlay">
         <ul class="projects-menu">
            <li style="background:url(http://taylantatli.me/Halve/images/halve-home-image.png) center center no-repeat;"> <a href="http://taylantatli.me/Halve" class="inactive" target="_blank" rel="nofollow external"> <span> Halve Jekyll Theme <br><em>in progress</em> </span> </a> </li>
            <li style="background:url(https://cloud.githubusercontent.com/assets/754514/14509720/61c61058-01d6-11e6-93ab-0918515ecd56.png) center center no-repeat;"> <a href="http://taylantatli.me/Moon" target="_blank" rel="nofollow external"> <span> Moon Jekyll Theme </span> </a> </li>
            <li style="background:url(https://raw.githubusercontent.com/TaylanTatli/Ramme/master/assets/img/screenshot-post.png) center center no-repeat;"> <a href="http://taylantatli.me/Ramme" target="_blank" rel="nofollow external"> <span> Ramme Jekyll Theme </span> </a> </li>
            <li style="background:url(https://raw.githubusercontent.com/TaylanTatli/Daisy-Pelican-Theme/master/Preview-1.png) center center no-repeat;"> <a href="http://taylantatli.me/Daisy-Pelican-Theme/" target="_blank" rel="nofollow external"> <span> Daisy Pelican Theme </span> </a> </li>
            <li style="background:url(https://raw.githubusercontent.com/TaylanTatli/Block-Icon-Theme/master/Preview.png) center center no-repeat;"> <a href="https://github.com/TaylanTatli/Block-Icon-Theme" class="inactive" target="_blank" rel="nofollow external"> <span> Block Icon Theme <br><em>in progress</em> </span> </a> </li>
            <li style="background:url(https://raw.githubusercontent.com/TaylanTatli/StartPage/master/preview.png) center center no-repeat;"> <a href="http://taylantatli.me/StartPage/" class="inactive" target="_blank" rel="nofollow external"> <span> Start Page <br><em>in progress</em> </span> </a> </li>
         </ul>
      </div>
      <script src="/assets/js/main.min.js"></script> <!-- Asynchronous Google Analytics snippet --> <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-41234870-1', 'auto'); ga('require', 'linkid', 'linkid.js'); ga('send', 'pageview'); </script> 
   </body>
</html>