/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --accent-color: #4CAF50; /* Green accent color */
    --text-color: #fff;
    --background-dark: rgba(0, 0, 0, 0.7); /* Adjusted for content readability */
    --background-darker: rgba(0, 0, 0, 0.8);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDN4eGlpMjB4emdjaXYyZ25mcnVvcjljYTJqMTg1YnlwbDJjaGsyZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pOEbLRT4SwD35IELiQ/giphy.gif') no-repeat center center fixed; 
    background-size: cover;
    color: var(--text-color);
}

.container {
    position: absolute;
    top: 10px; /* Adjusted for top-left positioning */
    left: 10px; /* Adjusted for top-left positioning */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
    max-width: 300px;
}

.profile, .about, .projects, .skills, .contact {
    background-color: var(--background-dark);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 0 auto;
    overflow: hidden;
    transition: transform 0.3s;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.name, .title, h2, p, a {
    font-size: 0.8rem;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        max-width: 100%;
    }
}
